{% extends 'base.html' %}

{% block content %}
    <div class="center">
        <h1>Basic Calculator</h1>

        <form action="result">
            <input type="number" name="number1" placeholder="Enter first number">
            <br>
            <br> 
            <input type="number" name="number2" placeholder="Enter second number">
            <br>
            <br>
            <button type="submit" class="btn btn-success" name="add">Add</button>
            <button type="submit" class="btn btn-success" name="subtract">Subtract</button>
            <button type="submit" class="btn btn-success" name="multiply">Multiply</button>
            <button type="submit" class="btn btn-success" name="divide">Divide</button>
        </form>
    </div>
{% endblock %}